@tailwind base;
@tailwind components;
@tailwind utilities;

@property --color-scrollbar {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

:root {
  @apply bg-black text-gray-50;
  --color-scrollbar: #777;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded;
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  --color-scrollbar: #aaa;
}

.scrollbar-transparent {
  --color-scrollbar: transparent;
  transition: --color-scrollbar 500ms;
}

.scrollbar-transparent:hover {
  --color-scrollbar: inherit;
}

/* Remove decoration of search clear button */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
